<div class="container">
    <div class="logo">Home Page</div>
    <div class="login-item">
         <a class="link" routerLink="/view-report" routerLinkActive="active">
            <div class="form-field">
                <button class="button"> View Reports</button>
            </div>
        </a>
        <a class="link" routerLink="/submit-report" routerLinkActive="active">
            <div class="form-field">
                <button class="button"> Submit Report</button>
            </div>
        </a>
        <div class="form-field">
            <button class="button" (click)= "logout()"> LOGOUT</button>
        </div>
      
    </div>
</div>